.styled-table{
    border-collapse: collapse;
    font-size: 15px;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr{
    background-color: #009879;
    color: #fff;
    text-align: left;
}

.styled-table th{
    padding: 10px 10px;
    width: 15%;
    text-align: center;

}

.content--table{
    height: 90px;
}

.styled-table tbody tr{
    border-bottom: 1px solid #ccc;
}

.styled-table tbody tr:nth-of-type(even){
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type{
    border-bottom: 2px solid #009879;
} 
.btn-edit{
    background-color: #008cba;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 20px;
    margin: 4px 1px;
    cursor: pointer;
    width: 60px;
    height: 40px;
    border-radius: 15px;
    
}
.btn-delete{
    background-color: #f44336;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 20px;
    margin: 4px 1px;
    cursor: pointer;
    width: 60px;
    height: 40px;
    border-radius: 15px;
}
.btn-view{
    background-color: #e7e7e7;
    color: black;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
    font-size: 20px;
    margin: 4px 1px;
    cursor: pointer;
    width: 60px;
    height: 40px;
    border-radius: 15px;
}
.btn-create{
    background-color: #4ae061;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    /* margin: 4px 2px; */
    cursor: pointer;
    width: 200px;
    height: 5px;
    border-radius: 15px;
}
.action{
    display: flex;
}